--
-- PostgreSQL database dump
--

\restrict M2ZeM2oEob3TGc94U1T2LbjpMuiabn2kJ2RDQ7EdKDY4QNWMrqcLr4pfuyf8cx3

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: loan_application; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.loan_application (
    id bigint NOT NULL,
    amount double precision,
    created_at timestamp(6) without time zone,
    interest_rate double precision,
    status character varying(255),
    tenure integer,
    user_id bigint,
    credit_score integer,
    dti double precision,
    eligibility_decision character varying(255),
    employment_type character varying(255),
    full_name character varying(255),
    monthly_debt double precision,
    monthly_income double precision,
    purpose character varying(255),
    risk_score integer,
    CONSTRAINT loan_application_status_check CHECK (((status)::text = ANY ((ARRAY['SUBMITTED'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


--
-- Name: loan_application_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.loan_application ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.loan_application_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    password character varying(255),
    role character varying(255),
    username character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'ANALYST'::character varying, 'CUSTOMER'::character varying])::text[])))
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: loan_application; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.loan_application (id, amount, created_at, interest_rate, status, tenure, user_id, credit_score, dti, eligibility_decision, employment_type, full_name, monthly_debt, monthly_income, purpose, risk_score) FROM stdin;
2	10000	2026-01-14 15:14:21.245742	10.3	REJECTED	10	\N	725	0.17142857142857143	ELIGIBLE	SALARIED	sai	1200	7000	PERSONAL	35
1	10000	2026-01-14 14:57:07.136421	10.3	APPROVED	17	\N	720	0.214	ELIGIBLE	SALARIED	sai	1498	7000	PERSONAL	35
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: loan_application_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.loan_application_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: loan_application loan_application_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loan_application
    ADD CONSTRAINT loan_application_pkey PRIMARY KEY (id);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: loan_application fkejcvlj6ab0mukole0gskdttrn; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loan_application
    ADD CONSTRAINT fkejcvlj6ab0mukole0gskdttrn FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict M2ZeM2oEob3TGc94U1T2LbjpMuiabn2kJ2RDQ7EdKDY4QNWMrqcLr4pfuyf8cx3

