--
-- PostgreSQL database dump
--

\restrict viQh25GBoaFUSq6mOdTG2jjDeylWOR6bOkbBu4WNQQPNJIdx1ed9RGvHVSc2pCQ

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: loan_application; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.loan_application (
    id bigint NOT NULL,
    amount double precision,
    created_at timestamp(6) without time zone,
    interest_rate double precision,
    status character varying(255),
    tenure integer,
    user_id bigint,
    credit_score integer,
    dti double precision,
    eligibility_decision character varying(255),
    employment_type character varying(255),
    full_name character varying(255),
    monthly_debt double precision,
    monthly_income double precision,
    purpose character varying(255),
    risk_score integer,
    CONSTRAINT loan_application_status_check CHECK (((status)::text = ANY ((ARRAY['SUBMITTED'::character varying, 'APPROVED'::character varying, 'REJECTED'::character varying])::text[])))
);


--
-- Name: loan_application_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.loan_application ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.loan_application_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    password character varying(255),
    role character varying(255),
    username character varying(255) NOT NULL,
    active boolean DEFAULT true NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'ANALYST'::character varying, 'CUSTOMER'::character varying])::text[])))
);


--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: loan_application; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.loan_application VALUES (2, 10000, '2026-01-14 15:14:21.245742', 10.3, 'REJECTED', 10, NULL, 725, 0.17142857142857143, 'ELIGIBLE', 'SALARIED', 'sai', 1200, 7000, 'PERSONAL', 35);
INSERT INTO public.loan_application VALUES (1, 10000, '2026-01-14 14:57:07.136421', 10.3, 'APPROVED', 17, NULL, 720, 0.214, 'ELIGIBLE', 'SALARIED', 'sai', 1498, 7000, 'PERSONAL', 35);


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.users VALUES (3, '$2a$10$E1/A1V3VgWSv/X80W0tpu.pUIEW7BB76PjB13YHmqqIFclI3/yyjS', 'CUSTOMER', 'customer', true);
INSERT INTO public.users VALUES (1, '$2a$10$Mjil67Ooua0QldzTufcrJOd0gwhh7FMqiUJvfZtXhacMpEA.r2KdC', 'ADMIN', 'admin', true);
INSERT INTO public.users VALUES (6, '$2a$10$m6uRgM7uxaZhLUmU3PjidOCpD0Br.a2wnU8Q4E7tcg4ljA9HcSFWK', 'ANALYST', 'analyst2', true);


--
-- Name: loan_application_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.loan_application_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.users_id_seq', 7, true);


--
-- Name: loan_application loan_application_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loan_application
    ADD CONSTRAINT loan_application_pkey PRIMARY KEY (id);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: loan_application fkejcvlj6ab0mukole0gskdttrn; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.loan_application
    ADD CONSTRAINT fkejcvlj6ab0mukole0gskdttrn FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict viQh25GBoaFUSq6mOdTG2jjDeylWOR6bOkbBu4WNQQPNJIdx1ed9RGvHVSc2pCQ

